:root, html[data-theme='light'] {
	--primary-bg: #cccccc;
	--primary-txt: #1a1a1a;
}

html[data-theme='dark'] {
	--primary-bg: #1a1a1a;
	--primary-txt: #cccccc;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

body, .form-control, .form-control:focus, .dropdown-item, .dropdown-menu {
	background-color: var(--primary-bg);
	color: var(--primary-txt);
}

.heading, .btn, .badge, label {
	letter-spacing: 1px;
}

.form-control {
	border: 1px solid;
}

.selected {
	background-color: var(--primary-txt);
	color: var(--primary-bg);
	border-radius: 5px;
}

.hover:hover, .selected {
	border-radius: 5px;
	border: 1px solid;
}

.btn-outline-secondary, .dropdown-menu {
	border-color: var(--primary-txt);
	color: var(--primary-txt);
}

.btn-outline-secondary:hover, .dropdown-toggle.show {
	background-color: var(--primary-txt) !important;
	border-color: var(--primary-txt) !important;
	color: var(--primary-bg) !important;
}
