:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --btn-color: hsl(218, 79%, 40%);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --btn-color: hsl(204, 44%, 50%);
  --btn-hover-txt: #1a1a1a;
}
